<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>--(Colocar el error aqui)-- - --(n° error)--</title>
    <style>
        body { text-align: center; padding: 50px; font-family: sans-serif; }
        h1 { font-size: 50px; }
        body { font-size: 20px; color: #333; }
        .btn { text-decoration: none; padding: 10px 20px; background-color: #007bff; color: white; border-radius: 5px; }
    </style>
</head>
<body>
    <h1>Oops!</h1>
    <h2>(n° error) - (Colocar el error aqui)</h2>
    <p>Lo sentimos, (explicar error).</p>
    <br>
    <!-- se podria cambiar esto para solucionar el tema de que solo te devuelva a la pagina anterior pero por ahora esto funciona asi que esta bien por el momento -->
    <a href="#" onclick="history.go(-1)" class="btn">Volver a la pagina anterior</a>
</body>
</html>